
 <tr>
        <td><strong>{{Title}}</strong></td>
        <td>{{Year}}</td>
        <td>{{Genre}}</td>
        <td><strong>{{Director}}</strong></td>
        <td>{{Metascore}}</td>
        <td>{{imdbRating}}</td>
        <td>
          <img src="{{Poster}}" alt="Poster" width="60"/>
        </td>
      </tr>