<h2>{{title}}</h2>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Metascore</th>
      <th>Director</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      {{#if Metascore}}  <!--if helper-->
        <tr>
          <td>{{Title}}</td>
          <td>{{Year}}</td>
          <td>{{Metascore}}</td>
          <td>{{Director}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
