<h1>{{movie.Title}}</h1>
<p><strong>Year:</strong> {{movie.Year}}</p>
<p><strong>Rated:</strong> {{movie.Rated}}</p>
<p><strong>Released:</strong> {{movie.Released}}</p>
<p><strong>Director:</strong> {{movie.Director}}</p>
<p><strong>Plot:</strong> {{movie.Plot}}</p>
<img src="{{movie.Poster}}" alt="Movie Poster" />
